{% extends 'layout.html' %}
{% block title %} Add a new student {% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <label for="fn">First Name</label>
    <input type="text" id="fn" name="first_name" required />
    <br />

    <label for="ln">Last Name</label>
    <input type="text" id="ln" name="last_name" />
    <br />

    <label for="DOB">Date of Birth</label>
    <input type="date" id="DOB" name="date_of_birth"  />
    <br />

    <label for="yearlevel">Year Level</label>
    <input type="number" id="yearlevel" name="year_level"  />
    <br />

    <label for="email">Email</label>
    <input type="email" id="email" name="email"  />
    <p id="message"></p>
    <br />

    <label for="pwd">Password</label>
    <input type="password" id="pwd" name="password" required />
    <br />

    <input type="submit" value="Sign Up !" />
</form>
<script>
    let emailInput = document.querySelector('#email');
    let message = document.querySelector("#message");

    emailInput.addEventListener('input', checkUniqueEmail);

    async function checkUniqueEmail() {
        let response = await fetch("/checkemail?email=" + emailInput.value);
        let json = await response.json();

        if (json.status == 'ok') {
            message.style.color = 'green';
            message.textContent = 'Email available';
        } else {
            message.style.color = 'red';
            message.textContent = 'Email taken';
        }
        
    }
</script>
{% endblock %}