{% extends 'layout.html' %}
{% block title %} {% endblock %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Date of Birth</th>
        <th>Year level</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.First_name }}</td>
        <td>{{ row.Last_name}}</td>
        <td>{{ row.Date_of_birth}}</td>
        <td>{{ row.Year_level}}</td>
        <td>{{ row.Email}}</td>
        
    <td>
        <a href="/delete_user?id={{row.id}}">Delete</a>
        <a href="/update_user?id={{row.id}}">Edit</a>
        <a href="/subject_chosen?id={{row.id}}">Subject chosen</a>
        {#<a href="/view?id={{row.id}}">View</a>
        {% if session['role'] == 'admin' %}
        
        
        
        {% endif %}#}
    </td>

    </tr>
    {% endfor %}
</table>
{#<a href="{{url_for('register')}}">Add a new record</a>#}
{% endblock %}
