{% extends 'layout.html' %}
{% block title %} {% endblock %}
{% block content %}

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Year level</th>
        <th>Subject</th>
        <th>Action</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.First_name }}</td>
        <td>{{ row.Last_name }}</td>
        <td>{{ row.Year_level }}</td>
        <td>{{ row.Subject }}</td>
        <td>
            <a href="/unchoose?id={{row['subjects.id']}}">Unchoose</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
